/* Center the heading */
.heading-container {
    text-align: center;
    margin-top: 50px; /* Adjust as needed */
    font-family: "Oswald", sans-serif;
    color: rgb(49, 49, 49);
    margin-right: 121px;
}

/* Style for the image */
.image-container {
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
}

/* Adjust image size */
.image-container img {
    width: 300px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* CSS for the back button */
.back-button {
    margin-right: 5px; /* Add some space between the back button and the heading */
}

/* CSS to resize the back button image */
.back-button img {
    width: 40px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* CSS for the heading */
.heading-container h1 {
    margin: 0; /* Remove default margin */
}

/* Align header2 to the right */
.header2 {
    text-align: left;
}
/* Flex container for header and back button */
.header-container {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Add space between header and back button */
}

 /* Additional CSS for navigation bar */
 .navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
}

.name {
    margin-right: 10px;
}

.price {
    font-weight: bold;
}

.add-to-cart {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
}
.food-content {
    text-align: left;
}

/* Style for the options */
input[type="radio"] + label {
    display: block;
    border-bottom: 1px solid #ccc; /* Add a bottom border */
    padding: 5px 0; /* Add padding for spacing */
}

/* Remove border from the last option */
input[type="radio"]:last-of-type + label {
    border-bottom: none;
}

.header2 {
    display: flex;
    align-items: center;
}

.quantity-header {
    display: flex;
    align-items: center;
}


/* Style for the quantity selector */
.quantity-selector {
    display: flex;
    align-items: center;
}

.quantity-selector button {
    font-size: 14px; /* Adjust the font size as needed */
    padding: 5px 10px; /* Adjust the padding as needed */
}

#quantity {
    font-size: 14px; /* Adjust the font size as needed */
    width: 30px; /* Adjust the width as needed */
    text-align: center;
}